body {
    background-color: rgb(243, 121, 39);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: gray;
    color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
}

