body {
    background-color: rgb(243, 121, 39);
}


h1 {
    color: red;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: brown;
}

.calculadora {
    background-color: gray;
    border-radius: 50px;
    width: 1000px;
    height: 1000px;
}

#pantalla {
    text-align: center;
    background-color: rgb(88, 53, 53);
    text-align: center;
    height: 100px;
    width: 1000px;
    border-radius: 50px;
}

.pantalla p {
    color: rgb(236, 30, 30);
}

ul {
    list-style: none;
}
